@import "../global/voluntari_settings";
@import "../global/voluntari_variables";
@import "../global/voluntari_mixins";
.landing {
	background-image: image-url("l_bg.jpg");
	background-attachment: fixed;
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	position:relative;
	> .overlay {
		@include overlay(0,0,0,.6);
		height:100%;			
		> .container {
			> .main-info{
				padding-top:45%;			
				> h2 {
					color: white;
					font-size:1.7em;
					font-weight:bold;
					margin-bottom: .5em;
				}
				> p {
					color: $color_white;					
					font-size: .95em;
					margin-bottom: 3em;
				}
				> .row {
					text-align:center;
					> .col-sm-4 {
						display: inline-block;
						> p {
							color: $color_white;
							font-size: .85em;
							text-align:center;
							> .big-text{
								font-size:1.8em;
								font-weight: bold;
							}
							> span {
								display: block;
							}
							> .color-orange {
								color: $color_orange;									
							}
							> .color-blue-light {
								color: $color_bluecloud;
							}
							> .color-blue-ocean {
								color: $color_blueocean;
							}
						}
					}
				}
				> .scroll-down {
					bottom:5%;
					left:0;
					position:absolute;
					right:0;
					text-align:center;
					> .circle {
						border: 2px solid $color_white;
						border-radius: 50%;
						color: $color_white;
						display:inline-block;
						height:42px;
						position: relative;
						width: 42px;
					}
				}				
				
			}
		}
	}	
}
.about {
	background: $bg_blueocean;
	padding: 3.5em .5em;
	color:white;
	text-align:center;
	> .container {
		> article {
			> h2 {
				font-size:1.3em;
				margin-bottom: 1em;
			}

			> a.button-orange {
				@include button-orange($color_orange, .5em 1.5em);
			}
		}
	}
}
.video-about {
	> .videoContainer {
		position:relative;
	    > video {	    	
	    	width: 100%;
		    height: auto;
		    max-height: 100%;
	    }
	    > .overlay-absolute {
	    	@include overlay(0,0,0,.6);
	    	left:0;
	    	position:absolute;
	    	right:0;
	    	top:0;
	    	bottom:8px;
	    	> .button-play {
	    		margin-top: 25%;
	    		text-align:center;
	    	}
	    }
	}	
}
.join-in {
	padding: 4em 0 3em 0;
	> .container {
		> ul {
			> li {
				margin: -16px 0;
				> a {
					display:block;
					> figure {
						position:relative;
						> img {
							width: 100%;
						}
						> figcaption {							
							bottom:0;
							color: white;
							padding: .5em;
							position:absolute;
							top:0;
							> .wrap {
								position:relative;
								> .wrap-text {	
									margin-top:10%;	
									> h3 {
										text-shadow: 0 1px 2px rgba(0,0,0,.4);
									}
								}
							}
						}
						> .rgba-orange {
							@include overlay(245,172,40, .8);
						}
						> .rgba-blueocean {
							@include overlay(75,173,203, .8);
						}
						> .rgba-green {
							@include overlay(84,173,115, .8);
						}
					}
				}
			}
		}
	}
}
.explora {
	background: $color_blue;
	color:white;
	padding: 4em 0 3em 0;
	text-align:center;
	> .container {
		> h2 {
			font-size: 1.5em;
			text-transform:uppercase;
		}
		> .owl-carousel {
			margin:2em 0;
			text-align:center;
			> li {
				display:inline-block;
				margin:.5em;				
				vertical-align:top;
				> .item-cat {
					> .item-link {
						.font-style:normal;
					}
				}
			}
			> .owl-controls {
				> .owl-buttons{
					> .owl-prev {
						background:none;
						border: 2px solid #fff;
						left:0;
						position:absolute;
						top:0;
					}
					> .owl-next {
						background:none;
						border:2px solid #fff;
						right:0;
						position:absolute;
						top:0;
					}
				}
			}
		}
		> p {
			font-family: 'Cabin-SemiBoldItalic';
		}
	}
}
.gmaps {
	width:100%;
	> #map {
		height:300px;
		width:100%;
	}
}