@import "voluntari_mixins";
// =============================================================================
// Include Font Face
// =============================================================================
@include font-face(Flaticon, /assets/icons/flaticon);

@include font-face(Cabin-Regular, /assets/cabin/Cabin-Regular);
@include font-face(Cabin-Medium, /assets/cabin/Cabin-Medium);
@include font-face(Cabin-SemiBold, /assets/cabin/Cabin-SemiBold);
@include font-face(Cabin-Bold, /assets/cabin/Cabin-Bold);

@include font-face(Cabin-Italic, /assets/cabin/Cabin-Italic);
@include font-face(Cabin-MediumItalic, /assets/cabin/Cabin-MediumItalic);
@include font-face(Cabin-SemiBoldItalic, /assets/cabin/Cabin-SemiBoldItalic);
@include font-face(Cabin-BoldItalic, /assets/cabin/Cabin-BoldItalic);
// =============================================================================
// Text Colors
// =============================================================================
$color_blue: #136390;
$color_bluecloud: #78BED7;
$color_blueocean: #35B0A7;
$color_orange: #F5AC28;
$color_orange_dark: #D08425;
$color_white: #B7C9D1; 

// =============================================================================
// Backgrounds Colors
// =============================================================================

$bg_header: #F2F5FA;


