@import "voluntari_mixins";
// =============================================================================
// Include Font Face
// =============================================================================
@include font-face(Flaticon, /assets/icons/flaticon);

@include font-face(Cabin-Regular, /assets/cabin/Cabin-Regular);
@include font-face(Cabin-Medium, /assets/cabin/Cabin-Medium);
@include font-face(Cabin-SemiBold, /assets/cabin/Cabin-SemiBold);
@include font-face(Cabin-Bold, /assets/cabin/Cabin-Bold);

@include font-face(Cabin-Italic, /assets/cabin/Cabin-Italic);
@include font-face(Cabin-MediumItalic, /assets/cabin/Cabin-MediumItalic);
@include font-face(Cabin-SemiBoldItalic, /assets/cabin/Cabin-SemiBoldItalic);
@include font-face(Cabin-BoldItalic, /assets/cabin/Cabin-BoldItalic);
// =============================================================================
// Text Colors
// =============================================================================
$color_blue: #136390;
$color_bluecloud: #4BADCB;
$color_blueocean: #35B0A7;
$color_orange: #F5AC28;
$color_orange_dark: #D08425;
$color_white: #DAE4E8; 

// =============================================================================
// Backgrounds Colors
// =============================================================================

$bg_blueocean: #4BADCB;
$bg_header: #F2F5FA;

// =============================================================================
// Break Points
// =============================================================================
$break-mobile-large: 481px;
$break-tablet-small: 768px;

$break-tablet-large: 769px;
$break-desktop-small: 960px;

$break-desktop-large: 961px;
$break-desktop-hd: 1024px;


$break-desktop-min: 1025px;