@import "voluntari_mixins";
// =============================================================================
// Include Font Face
// =============================================================================
@include font-face-icons(Flaticon, /assets/icons/flaticon);

// =============================================================================
// Text Colors
// =============================================================================
$color_blue: #136390;
$color_bluecloud: #78BED7;
$color_blueocean: #35B0A7;
$color_orange: #F5AC28;
$color_orange_dark: #D08425;
$color_white: #B7C9D1; 

// =============================================================================
// Backgrounds Colors
// =============================================================================

$bg_header: #F2F5FA;


