@import "../global/voluntari_variables";
@import "../global/voluntari_settings";
@import "../global/voluntari_mixins";
header {
	background:transparent;
	left:0;
	position:fixed;
	right:0;
	top:0;
	z-index:9999999;
	> .container {
		> h1 {
			display: inline-block;
			vertical-align: top;
			> a {
				> img {
					width: 170px;
				}
			}	
		}	
		> .burger:before {
			@include icons('\e003', $color_blue ,'Flaticon', 1.5em);
			display:inline-block;
			float:right;
			margin-top: .3em;
		}
		> .close-menu:before {
			@include icons('\e00c', $color_blue ,'Flaticon', 1.5em);
			@include animation-rotate-360(0, 360deg);
			animation-duration:.3s;
			animation-name: animation-rotate;
			display:inline-block;
			float:right;
			margin-top: .3em;
		}				
		> nav {	
			> .show-menu {
				height:auto;
				overflow:visible;
				transition: all .5s ease;
			}
			> .hidden-menu {
				height: 0;
				overflow:hidden;
				transition: all .5s ease;
			}			
			> ul {
				background: $color_orange;
				left:0;
				position:absolute;
				right:0;
				text-align:center;				
				z-index: 999999;				
				> li {
					border-bottom: 1px solid $color_orange_dark;
					> a {
						color: white;
						display:block;
						text-transform:uppercase;
						padding: 1em;
						&:hover {
							background: $color_orange_dark;
							text-decoration:none;
						}
					}
				}
				> li:nth-last-child(1){
					border-bottom: 0;
				}
			}
		}
	}
}

@media screen and(min-width: $break-desktop-large){
	header {		
		padding-top:30px;
		> .container {	
			> h1 {
				display: inline-block;
				vertical-align: top;
				> a {
					> img {
						width: 240px;
					}
				}	
			}
			> .burger:before {
				height:0;
				overflow:hidden;
			}			
			> nav {
				display: inline-block;
				float:right;
				margin-top: .4em;	
				vertical-align:top;
				> .hidden-menu {
					height: auto;
					overflow:hivisible;
					transition: all .5s ease;
				}		
				> ul {
					background: none;
					position: relative;					
					> li {
						border: 0;
						display:inline-block;
						vertical-align:top;
						> a {
							color: $color_white;
							display:inline-block;
							text-transform:uppercase;
							padding: .5em 1em;
							&:hover {
								background:none;
								color: $color_orange;
								text-decoration:none;
							}
						}
						> .login {
							background: $color_orange;
							border-radius:.3em;
							color:white;
							transition:all .3s ease;
							&:hover {
								background: $color_orange_dark;
								color: $color_white;
							}
						}
					}
				}
			}
		}
	}
}

