@import "../global/voluntari_variables";
@import "../global/voluntari_settings";
@import "../global/voluntari_mixins";
footer {
	background: $color_orange;
	color: white;
	padding: 3em 0;
	> .container {
		> .row {
			> .col-sm-4 {
				> .wrap {
					padding: 1em;
					> .logo {
						> img {
							width: 200px;
						}
					}
					> p {
						padding: .5em 0;
					}
					> h2 {
						font-family: 'Cabin-Bold';
						font-size: 1.5em;
						font-weight:bold;
						margin-bottom:.5em;
						text-transform: uppercase;
					}
					> ul {
						> li {
							position:relative;
							margin:.3em 0;
							> i {
								background: $color_blue;
								border-radius:50%;
								display:inline-block;
								height:38px;
								position:absolute;
								text-align:center;
								top:3px;
								width: 38px;
							}
							> .location-icon:before{
								@include icons('\e007', white ,'Flaticon', 1.5em);
								left:0;
								position:absolute;
								right:0;
								top:1px;
							}
							> .phone-icon:before{
								@include icons('\e005', white ,'Flaticon', 1.2em);
								left:0;
								position:absolute;
								right:0;
								top:5px;
							}
							> .contact-icon:before{
								@include icons('\e004', white ,'Flaticon', 1.2em);
								left:0;
								position:absolute;
								right:4px;
								top:5px;
							}
							> p {
								padding-left:3em;								
							}
						}
					}
					> span {
						color: $color_white;
						font-size: .8em;
						padding-top: .5em;
					}
					> form {						
						> .form-group {
							> .l-i-leads, .l-btn-leads {
								border:0;
								border-radius: .3em;
								color: white;
								display:inline-block;
								outline:none;
								padding: .5em 1em;
							}
							> input::-webkit-input-placeholder {
								color:white;
							}
							> .l-i-leads {
								@include overlay(255,255,255,.3);
								transition: all .3s ease;
								width:190px;
							}
							> .l-i-leads:focus {
								background: white;
								color:$color_orange_dark;
							}
							> .l-btn-leads {
								background: $color_orange_dark;
								color: white;
								padding: .5em 1em;
								position:relative;
							}
						}
					}
					> .socials-icons {
						margin-top: .5em;
						> .circle {
							background:$color_blue;
							border-radius: 50%;
							display:inline-block;
							height:38px;
							margin:.2em;
							position:relative;
							text-align:center;
							width:38px;
							> .facebook-icon:before {
								@include icons('\e00a', white ,'Flaticon', 1.3em);
								left:0;
								position:absolute;
								right:0;
								top:4px;
							}
							> .twitter-icon:before {
								@include icons('\e009', white ,'Flaticon', 1.3em);
								left:0;
								margin:0 auto;
								position:absolute;
								right:0;
								top:4px;
							}
							> .instagram-icon:before {
								@include icons('\e001', white ,'Flaticon', 1.3em);
								left:0;
								position:absolute;
								right:0;
								top:4px;
							}
							> .linkedin-icon:before {
								@include icons('\e00b', white ,'Flaticon', 1.3em);
								left:0;
								position:absolute;
								right:0;
								top:3px;
							}
							> .youtube-icon:before {
								@include icons('\e00d', white ,'Flaticon', 1.5em);
								left:0;
								position:absolute;
								right:0;
								top:2px;
							}
						}
					}
				}
			}
		}
	}
}