@import "../global/voluntari_variables";
@import "../global/voluntari_settings";
@import "../global/voluntari_mixins";
header {
	background: $bg_header;
	left:0;
	position:fixed;
	right:0;
	top:0;
	z-index:9999999;
	> .container {
		> h1 {
			display: inline-block;
			vertical-align: top;
			> a {
				> img {
					width: 150px;
				}
			}	
		}	
		.burger:before {
			@include icons('\e001', $color_blue ,'Flaticon', 1.5em);
			display:inline-block;
			float:right;
			margin-top: .3em;
		}				
		> nav {				
			> ul {
				background: $color_orange;
				left:0;
				position:absolute;
				right:0;
				text-align:center;
				top:52px;
				z-index: 999999;				
				> li {
					border-bottom: 1px solid $color_orange_dark;
					> a {
						color: $color_white;
						display:block;
						text-transform:uppercase;
						padding: 1em;
						&:hover {
							background: $color_orange_dark;
							text-decoration:none;
						}
					}
				}
				> li:nth-last-child(1){
					border-bottom: 0;
				}
			}
		}
	}
}