%section.landing
	%div.overlay
		%div.container
			%div.row
				%div.col-sm-10
					%h2 Bienvenidos a nuestra red de voluntarios
					%p A trav&eacute;z de esta red conectamos voluntarios interesados con organizaciones sin fines de lucro de manera proxima y sencilla.
					%div.row
						%div.col-sm-4
							%p <span class="big-text color-orange">1000</span>&nbsp;Voluntarios
						%div.col-sm-4
							%p <span class="big-text color-blue-light">1000</span>&nbsp;Instituciones
						%div.col-sm-4
							%p <span class="big-text color-blue-ocean">1000</span>&nbsp;Eventos
					%div.scroll-down
						%a.circle{:href => '#'} <i class="down-ico">v</i>